<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
        <label>Username</label>
        <input type="text" name="Uname">
        <br>

        <label>Password</label>
        <input type="password" name="Upass">
        <br>

        <button type="submit">Register</button>
    </form>
</body>
</html>